* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html {
    background: linear-gradient(#136e6c, #27dbd7);
}

body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 50%;
    height: 400px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
    border-radius: 20px;
    background: #d7f5f5;
    box-shadow: 1px 1px 100px #348585;
}

small {
    position: absolute;
    color: black;
    top: 72%;
    letter-spacing: 2px;
}

.container img:hover {
    transform: translateY(-7px);
    cursor: pointer;
}

.buttons {
    display: flex;
    width: 55%;
    justify-content: space-between;
    margin-top: 50px;
}

.buttons button {
    padding: 15px;
    border: 0;
    border-radius: 20px;
    background: #d9740f;
    cursor: pointer;
    letter-spacing: 1.2px;
}

.buttons button:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.buttons button:hover {
    opacity: 0.7;
    transform: translateY(-7px);
}